
#part1 {
  background-color: #343a40;
  color: #e9ecef;
  padding-left: 20px;
  height: 250px;
  font-weight: bold;
  font-size: 18px;
}

.jumbotron {
    padding: 4rem 1rem;
    margin-bottom: 0rem;
    background-color: #e9ecef;
    height: auto;
    border-radius: .3rem;
}

#part2 {
  height: 380px;
  text-align: ;
  padding: 20px;
  color: white;
  margin-right: 45%;
}

th, td {
  border-bottom: 1px solid #ddd;
  padding-left: 15px;
  text-align: left;
}

#part3 {
  background-color: #343a40;
  height: 250px;
}
#intro {
    font-size: 18px;
    font-weight: bold;
    padding: 20px;
  }

  ul, ol {
    margin: 5px;
    margin-left: 5%;
    margin-bottom: 5px;
    font-size: 14px;
    color: lightgray;
  }

  .navbar-nav > li{
    padding-left:20px;
    padding-right:10px;
  }


  .container {
      display: flex;
      flex-wrap: wrap;
      font-size: 8px;
  }

  .container > div {
      background-color: white;
      font-size: 15px;
      margin: 10px;
      padding: 20px;
      width: 350px;
  }

  .mr-3 {
    width: 40%;
    height: 50%;
  }
