
#top {
    font-size: 36px;
    color: red;
  }

  .navbar-nav > li{
    padding-left:20px;
    padding-right:10px;
  }

  .container {
      display: flex;
      flex-wrap: wrap;
  }

  .container > div {
      background-color: white;
      font-size: 20px;
      margin: 10px;
      padding: 15px;
      width: 350px;
  }

  .mr-3 {
    width: 50%;
    height: 60%;
  }
